*{
	margin:0;
	padding: 0;
}

.MyLogo{
	color: #fff;
	background-color: #404040;
	width:350px;
	padding:10px;
	text-align: center;
	font-family: sans-serif;
	letter-spacing: 5px;
	font-size: 14px;
	margin-left: 495px;
	margin-top: -350px;
	position: absolute;	
}
header{
	background-image: url(img/parallax1.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

.row{
	max-width: 1300px;
	margin: 0 auto;
}

.main-nav{
	list-style: none;
}
.main-nav li{
	float: left;
	margin-left: 25px;
	display: inline-block;
	margin-top: 15px;
}

.main-nav li a{
	text-decoration: none;
	color: #333333;
	font-family: arial;
	font-size: 15px;
}
.main-nav li a:hover{
	background-color: #000;
	color: #fff;
	padding: 15px;
}
